.App {
  overflow: hidden;
  background-color: white;
  background-image: linear-gradient(
    to right, 
    black, 
    white 5%, 
    white 95%, 
    black
  );
}

.App-header {
  position: sticky;
  top: 0;
  width: 100vw;
  /* max-width: 300px; ?? */
  height: 50px;
  margin: 0 auto;
  background-color: red;
  text-align: center;
}

.App-main {
  width: calc(100vw - 200px);
  margin: 0 auto;
  min-height: 2500px;
}

.App-container {
  background-color: blueviolet;
  height: 300px;
}

.App-footer {
  position: static;
  bottom: 0;
  width: 100vw;
  /* max-width: 300px; ?? */
  height: 50px;
  margin: 0 auto;
  background-color: green;
  text-align: center;
}

.App-employees {
  margin-top: 25px;
}


/* FIXME: impossible to match previous siblings in CSS (yet), need to do it in JS */
.App-employees tbody tr:hover {
  background-color: red;
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside {
  width: 200px;
  background-color: yellow;
  height: 200px;
  transition: transform 2s ease;
  transform: translateX(0px);
  cursor: pointer;
}

.aside:hover {
  transform: translateX(calc(50vw - 200px));
}

