.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  position: sticky;
  top: 0;
  width: 100vw;
  /* max-width: 300px; ?? */
  height: 50px;
  margin: 0 auto;
  background-color: red;
  text-align: center;
}

.App-main {
  width: 100vw;
  min-height: 2500px;
}

.App-container {
  width: calc(100vw - 200px);
  background-color: blueviolet;
  height: 300px;
  margin: 0 auto;
}


.App-footer {
  position: static;
  bottom: 0;
  width: 100vw;
  /* max-width: 300px; ?? */
  height: 50px;
  margin: 0 auto;
  background-color: green;
  text-align: center;
}

.flexed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside {
  width: 200px;
  background-color: yellow;
  height: 200px;
  transition: transform 2s ease;
  transform: translateX(0px);
}

.aside:hover {
  transform: translateX(calc(50vw - 200px));
}